<div class="navbar navbar-expand-sm navbar-lewagon logo navbar-transparent">
  <div class="navbar-search d-flex align-items-center">
    <%= link_to root_path, class: "navbar-brand" do %>
      <div>
        <h1 class="grow">Let it gr<i class="fas fa-seedling icon"></i></i>w</h1></i>
      </div>

      <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item light-hover">
          <%= link_to "List my garden", "#newgardenmodal", class: "nav-link", "data-toggle": "modal" %>
        </li>
        <li class="nav-item light-hover">
          <%= link_to "Find a garden", gardens_path, class: "nav-link" %>
        </li>
        <li class="nav-item light-hover">
          <%= link_to "My bookings", bookings_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <% if current_user.photo.url.nil? %>
            <%= image_tag asset_path('avatar-default-picture.jpeg'), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else  %>
            <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item d-flex">
          <%= render 'devise/sessions/new' %>
          <%= render 'devise/registrations/new' %>
          <%= link_to "Gardens", gardens_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div id="newgardenmodal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <p>List your garden</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body row">
      <p class="modaltext col-10">Make the most of your outside space whilst helping others to live more sustainably. </p>
      <%= link_to new_garden_path do  %>
      <p class="modalplant col-2"><i class="fab fa-pagelines"></i></p>
      <% end %>
      </div>
      <div class="modal-footer">
        <%= link_to "Find out more", new_garden_path, id: "modallink" %>
      </div>
    </div>
  </div>
</div>
