<div class="index-container">
  <div clas="row">
    <div class="align-items-left header">
    <p>Available Gardens</p>
    </div>
  </div>

  <div class="row">
    <% @gardens.each do |garden| %>
      <div class="col-sm-3 hover">
        <%= link_to garden_path(garden) do %>
        <img src="https://picsum.photos/200/200" class="card-img-top garden-image" alt="garden">
        <p class="purpose"><%= garden.purpose.upcase %></p>
          <h3 class="card-title"><%= garden.name %> </h3>
          <div class="card-info">
            <p class="card-text"><%= garden.location %></p>
            <p class="card-text">£<%= garden.price_per_day %>/day | <%= garden.size %>m²</p>
          </div>
      </div>
      <% end %>
    <% end %>
  </div>

</div>


