<div class="index-container">
  <div clas="row">
    <div class="align-items-left header">
    <p>Available Gardens</p>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="row">
      <% @gardens.each do |garden| %>
        <div class="col-4 garden-card hover" data-garden-id="<%= garden.id %>">
          <%= link_to garden_path(garden) do %>
          <%= cl_image_tag(garden.photo, height: 200,
             crop: :fill) %>
            <div class="card-info">
              <p class="purpose"><%= garden.purpose.upcase %></p>
              <h3 class="card-title"><%= garden.name %> </h3>
              <p class="card-text m-0 p-0">£<%= garden.price_per_day %>/day | <%= garden.size %>m²</p>
              <div>
                <% if garden.reviews.empty? %>
                  <% 5.times do %>
                  <i class="far fa-star yellow"></i>
                  <% end %>
                <% else %>
                  <% ratings = [] %>
                  <% garden.reviews.each do |review| %>
                  <% ratings << review.rating %>
                  <% end %>
                  <% rating = (ratings.sum) / ratings.length %>
                  <% rating.times do %>
                    <i class="fas fa-star yellow"></i>
                  <% end %>
                  <% empty = 5 - rating %>
                  <% empty.times do %>
                    <i class="far fa-star yellow"></i>
                  <% end %>
                <% end %>
              </div>
            </div>

        </div>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="col-4">
      <div
      id="map"
      style="width: 100%;
      height: 500px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>


