<div class="new-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path 'https://res.cloudinary.com/nmozzer/image/upload/v1566305175/benjamin-combs-wuU_SSxDeS0-unsplash_sdgwbl.jpg', cloud_name: 'nmozzer' %>')">
  <%= render 'shared/home_navbar' %>
  <div class="new-banner">
    <div class="new-card">
      <div>
        <h1>Hello Garden Owner!</h1>
      </div>
      <div>
        <p>See your garden used to its full potential, rent it out for a range of uses so that you can make money off of your outdoor space</p>
      </div>
      <div>
        <button type="button" class="btn btn-success w-100" data-toggle="modal" data-target=".bd-example-modal-lg">Get Started</button>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="">
    <h2 class="text-center text-lger">How it works</h2>
    <div class="info-cards">
      <div class="info-card">
        <i class="fas fa-tractor fill-green"></i>
        <h4>Allota farm</h4>
        <p>Rent a larger space for more serious growers.</p>
      </div>
      <div class="info-card">
        <i class="fas fa-spa fill-green"></i>
        <h4>Allota ment</h4>
        <p>Rent a smaller space for a green fingered enthusiast.</p>
      </div>
      <div class="info-card">
        <i class="fas fa-glass-cheers fill-green"></i>
        <h4>Allota fun</h4>
        <p>Rent your garden for a garden party.</p>
      </div>
    </div>
  </div>

   <div class="row">
     <img class="quoteimage" src="<%= asset_path('gardeningimage.jpeg') %>" alt="">
     <div class="quote-text">
      <i class="fas fa-quote-left"></i>
      <h3>I love sharing my little garden with other veg-growers.</h3>
      <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium porro autem harum vel ipsa optio cum velit, sapiente.</p>
     </div>
   </div>
</div>

<div class="container d-flex justify-content-center align-items-center form-margin-top" style="background-image: url('https://res.cloudinary.com/nmozzer/image/upload/v1566311538/background-form-garden_vtguhd.jpg')">
  <button type="button" class="btn btn-green btn-lg" data-toggle="modal" data-target=".bd-example-modal-lg">List your Garden!</button>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h2 class="text-center text-lger">Fill in the details of your Garden!</h2>
      <div class="form-padding">
        <%= simple_form_for @garden do |f| %>
        <div class="form-container d-flex" >
          <div class="form-main-body">
            <%= f.input :name %>
            <%= f.input :price_per_day %>
            <%= f.input :size %>
            <%= f.input :location %>
            <%= f.input :purpose, collection: Garden::PURPOSE %>
          </div>
          <div class="form-secondary-body">
            <%= f.input :description, input_html: {rows: 9} %>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
          </div>

        </div>
        <div class="submit-center">
            <%= f.button :submit, "List your Garden!", class: "text-center btn btn-green" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
