<div>
  <div class="show-image-container" style="background-image: url('<%= @garden.photo %>')">
  </div>
</div>

<div class="all-show-container">

  <div class="show-content-container">
    <div class="header-show">
      <div class="nameavatar">
        <h2><%= @garden.name %></h2>
        <div>
          <%= cl_image_tag @garden.user.photo, class: "avatar" %>
        </div>

      </div>
      <h5><%= @garden.location %></h5>
      <h6><%= @garden.size %>m²</h6>
    </div>

    <div class="margin-general">
      <div class="purpose">
        <p><strong>Purpose: </strong><%= @garden.purpose %></p>
      </div>
      <div class="margin-general">
        <p><%= @garden.description %></p>
      </div>
    </div>
    <br>
    <div>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
        Update my garden
      </button>
      <%= render 'shared/update-garden', garden: @garden %>
    </div>


    <%= render 'reviews', garden: @garden %>



    <!-- Button trigger modal -->

    <div class="map">
      <div>
        <h4>Location</h4>
      </div>
        <div >
          <p id="location"><%= @garden.location %></p>
        </div>
        <div
          id="map"
          style="width: 100%;
          height: 500px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          >
        </div>
    </div>
  </div>

<% if current_user != @garden.user %>
  <div id="booking-show">
    <div>
      <h3>£<%= @garden.price_per_day %>/day</h3>
    </div>
    <div class="book-garden">
      <%= simple_form_for [@garden, @booking] do |f| %>
        <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <% if policy(Booking).create? %>
          <%= f.button :submit, class: "btn btn-success w-100" %>
        <% end %>
        <% end %>
    </div>
  </div>

<% else %>
  <div class="mybookings">
    <h3>Your bookings for this garden:</h3>
    <% if @garden.bookings.empty? %>
      <p>You don't have any bookings yet.</p>
    <% else %>
      <% @garden.bookings.each do |booking| %>
      <%= booking.start_date %>
      <%= booking.end_date %>
      <%= booking.user %>
      <% end %>
    <% end %>
  </div>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Leave a review...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="review-add">

        <%= simple_form_for [@garden, @review], remote: true do |f| %>
        <%= f.input :description %>
        <%= f.input :rating, as: :select, collection: [ 1, 2, 3, 4, 5 ] %>
        <% if policy(Review).create? %>
          <%= f.button :submit, class: "btn btn-success" %>
          <p></p>
        <% end %>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>

<% content_for :before_js do %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<% end %>

<% content_for :after_js do %>
  <script>
    const hideModal = () => {
      $('#exampleModalLong').modal('hide')
      $('.modal-backdrop').remove()
      $('.btn-review > .btn').remove()
    }
  </script>
<% end %>
