<div class="show-container">
  <div class="show-image-container" style="background-image: url('https://images.pexels.com/photos/1843647/pexels-photo-1843647.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
  </div>
</div>
<div class="all-show-container">
  <div class="show-content-container">
    <div class="header-show">
      <h2 ><%= @garden.name %></h2>
      <h5><%= @garden.location %></h5>
    </div>
    <div class="margin-general">
      <div class="purpose">
        <p><strong>Purpose: </strong><%= @garden.purpose %></p>
      </div>
      <div class="margin-general">
        <p><%= @garden.description %></p>
      </div>
    </div>
    <div class="review-container">
      <h4>Reviews</h4>
      <% @garden.reviews.each do |review| %>
      <div class="review-show">
        <div class="review-info-small space-between">
          <p><strong><%= review.user.username %></strong></p>
          <p> Rating: <%= review.rating %>/5 </p>
        </div>
        <div>
          <p><%= review.description %> </p>
        </div>
        <% if review.user == current_user %>
        <p> <%= link_to "Delete review", review_path(review), method: :delete %> </p>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="review-add">
      <h4>Leave a review...</h4>

      <%= simple_form_for [@garden, @review] do |f| %>
      <%= f.input :description %>
      <%= f.input :rating, collection: [ 0, 1, 2, 3, 4, 5 ] %>
      <%= f.button :submit, class: "btn btn-success" %>
      <% end %>
    </div>
    <div class="map">
      <div>
        <h4>Location</h4>
      </div>
      <div>
        <%= @garden.location %>
      </div>
    </div>
  </div>
  <div class="booking-show">
    <div>
      <h3>£<%= @garden.price_per_day %>/day</h3>
    </div>
  </div>
</div>
